<div class="container">
  <section class="wrapper">
    <div class="heading">
      <h1 class="text">Custom MultiSelect</h1>
    </div>
    <div class="wrapper-body">
      <label>Available Countries: </label>
      <app-multiselect class="item2" [options]="countries" [filter]="true" [optionLabel]="optionValueLabel"
        [optionValue]="optionValueName" (onChange)="onChange($event)"></app-multiselect>
    </div>
    <div class="wrapper-body">
      <label>Selected Countries: </label>
      <input class="item2" type="text" [(ngModel)]="selectedCountries" readonly>
    </div>
    <div class="footer">
      <i>By Abhishek Anand.</i>
    </div>
  </section>
</div>